main {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	min-height: 100vh;
}

section {
	border: 2px solid black;
	margin: 2rem;
	padding: 1rem;
}

#join, #play, #new {
	display: flex;
	flex-direction: column;
}

.error {
	color: red;
	font-weight: bold;
}
