td {
    padding-left: 1rem;
}

.place {
    border-radius: 50%;
    border: 1px solid black;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0;
}

.place.first {
    background-color: gold;
    box-shadow: 0 0 10px 5px gold;
    border: none;
}

.place.second {
    background-color: silver;
    box-shadow: 0 0 6px 3px silver;
    border: none;
}

.place.third {
    background-color: chocolate;
    box-shadow: 0 0 3px 1px chocolate;
    border: none;
}
